@charset "UTF-8";

*{
    line-height : 1.5;
    font-family : 'Objectivity', Helvetica, Sans-Serif;
}

body{
    margin:0px;
}

#website-header{
    box-shadow: 0vh 1vh 2vh 0.5vh rgb(200,200,200);
    background-color:white;
}

#header-logo{
    width:10vh;
    height:10vh;
    margin-left:2vw;
    float:left;
}
#header-hackathon-name{
    font-size:5vh;
    color:tomato;
    line-height:1;
    padding: 3vh 3vh 0vh 3vh;
    overflow:visible;
    float:left;
}
#menu{
    display:inline-block;
}

#menu a{
    display : none;
    visibility : hidden;
}   

@media screen and (min-width: 600px){
    #menu a{
        visibility:visible;
        display: inline-block;
        padding:4vh;
        margin:0px;
        background-color: white;
        font-weight: normal;
        text-decoration: none;
        font-size: 16px;
        color:black;
        transition: background-color 0.3s;
        }

    #menu a:visited{
        color:black;
        text-decoration: none;
    }

    #menu a:hover{
        background-color:rgb(235, 235, 235);
    }
}

#dropdown-menu{
    display : none;
    visibility : hidden;
}

@media screen and (max-width: 600px){
    #dropdown-menu{
        visibility:visible;
        width:6vh;
        height:6vh;
        float:right;
        margin: 2.5vh 4vh 0vh 4vh;
    }
}

#temporary-date{
    position:absolute;
    padding: 47vh 10vw 20vh 57vw;
    font-size:24px;
    font-weight:normal;
    color:royalblue;
}

#temporary-lead{
    position:absolute;
    padding: 20vh 10vw 20vh 17vw;
    font-size:24px;
    font-weight:normal;
    color:royalblue;
}
#temporary-splash{
    position:absolute;
    padding: 21vh 10vw 20vh 25vw;
    font-size:96px;
    font-weight:bold;
    color:royalblue;
}
