@charset "UTF-8";
.comingsoon{
    background-color:white;
    margin:5vw 10vw 5vw 10vw;
    padding:3vw;
    border-style: none;
    box-shadow: 0.5vw 0.5vw 1.5vw black;
}
.comingsoon_main{
    margin:auto;
}
.comingsoon_oslogo{
    width:8vw;
    height:8vw;
    float:left;
}
.comingsoon_title{
    font-size:5.5vw;
    color:tomato;
    line-height:1;
    padding-top:1.75vw;
    padding-left:1vw;
    overflow:visible;
    display:inline-block;
}
.comingsoon_leadtext{
    text-align: center;
    font-size: 3vw;
    color:rgb(58, 93, 199);
    margin:5vw;
}
.comingsoon_flavortext{
    float:left;
    font-weight:lighter;
    text-align:center;
    font-size:1.35vw;
    margin:0px;
}